<header id="header">
  <div class="container-fluid">
    <div class=" row content">
      <div class="col-md-2 logo">
        <img src="assets/img/logo.png" style="width: 65%; height: 90px" alt="">
      </div>
      <div class="col-md-2 mt-4">
        <div class="contact-icon">
          <i class="fa-solid fa-phone"></i>
        </div>
        <div class="contact-info">
          <h6>9571 195 252</h6>
          <p style="font-size: 12px">Tư vấn bán hàng</p>
        </div>
      </div>
      <div class="col-md-2 mt-4">
        <div class="contact-icon">
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <div class="contact-info">
          <h6>Tìm siêu thị ></h6>
          <p style="font-size: 12px">Mở cửa: 8:00 - 21:30</p>
        </div>
      </div>
      <div class="col-md-2 mt-3">
        <div class="contact-icon-1">
          <i class="fa-solid fa-bag-shopping"></i>
        </div>
        <div class="contact-info">
          <h5 style="margin-top: 13px">Giỏ hàng</h5>
        </div>
      </div>
      <div class="col-md-4 box">
        <div class="container-1">
          <span class="icon"><i class="fa fa-search"></i></span>
          <input type="search" id="search" placeholder="Bạn cần tìm gì ?" autocomplete="off"/>
        </div>
      </div>
    </div>
  </div>

</header>
<nav class="row">
  <div class=" col-md-3 dropdown show main-nav">
    <a class="btx dropdown-toggle ex" style="margin-left: 154px" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      DANH MỤC SẢN PHẨM
    </a>
  </div>
  <div class=" col-md-9 content">
    <ul>
      <li class="i-br"><a href="">Tivi </a></li>
      <li class="i-br"><a href="">Tủ lạnh </a></li>
      <li class="i-br"><a href="">Điều hoà </a></li>
      <li class="i-br"><a href="">Máy Giặt </a></li>
      <li class="i-br"><a href="">Gia dụng</a></li>
      <li class="i-br"><a href="">Điện thoại</a></li>
      <li class="i-br"><a href="">Laptop</a></li>
      <li class="i-br"><a href="">Quạt</a></li>
      <li class="i-br"><a href="">Nồi chiên không dầu</a></li>
      <li><a href="">Máy lọc nước</a></li>
    </ul>
  </div>
</nav>
