<div class="container">
  <h4 style="margin: 20px 10px">Máy giặt lồng ngang Coex Inverter 10,5kg FW-10CW1408IGB</h4>
  <hr>
  <div class="row">
    <div class="col-6">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/img/maygiat.png"
                 class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <p>Model: <b>PARTYBOX360</b> - Mã hàng: 102038</p>
        <p>Bảo hành: <b> 12 tháng </b></p>
        <div style="display: flex" class="d-flex">
          <h3 style="color: red">15.900.000 <sup><u>đ</u></sup></h3> <span style="margin:8px 8px">17.800.000<sup><u>đ</u></sup></span>
        </div>
        <div>
          <button class="btn btn-danger w-100" style="height: 60px">Mua ngay <br>(Giao tận nơi - giá tốt - an
            toàn)
          </button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <button class="btn btn-warning w-100">TRẢ GÓP <br>(Công ty tài chính) </button>
        </div>
        <div class="col-6">
          <button class="btn btn-warning w-100">AlePay - TRẢ GÓP QUA THẺ <br>(Visa, Master, JCB)</button>
        </div>
      </div>

    </div>
  </div>
  <div>
<div>
  <h3 style="color: #e83e8c">Giới thiệu</h3>
  <hr class="hr2" style="background-color: yellow">
</div>
<div style="margin-bottom: 100px">
  <b style="font-size: 1.5rem"> MÁY GIẶT LỒNG NGANG COEX INVERTER 10,5KG FW-10CW1408IGB</b>
  <p>Máy giặt Coex FW - 10CW1408IGB thuộc kiểu máy giặt cửa trước hiện đại, gam màu tối toát lên vẻ chắc chắn, đường nét góc cạnh tinh tế, cùng bảng điều khiển song ngữ Anh – Việt với nút xoay kết hợp cùng màn hình hiển thị thời gian giúp bạn thuận tiện và dễ dàng hơn trong quá trình sử dụng.</p>
  <b style="font-size: 1.5rem">Điểm Nổi Bật</b>
  <p> Điểm nổi bật
    Khối lượng giặt: 10.5Kg phù hợp cho gia đình 6 - 8 người

    14 chương trình giặt khác nhau, đáp ứng mọi nhu cầu giặt đa dạng.

    Động cơ Inverter giúp máy giặt vận hành êm ái, bền bỉ, tiết kiệm điện năng

    Công nghệ Spa Care & giặt hơi nước Steam diệt khuẩn 99,99% loại bỏ vi khuẩn gây hại, bảo vệ vải và giảm độ nhăn

    Công nghệ giặt Water Cube chống biến dạng sợi vải, giữ màu sắc tối ưu

    Lồng giặt 3D và cánh  đảo tăng hiệu năng giặt đánh bay viết bẩn cứng đầu

    Giặt diệt khuẩn với nhiệt độ nước 70 độ C diệt khuẩn và các tác nhân gây dị ứng

    Giặt nước nóng với nhiệt độ nước 40 độ C loại sạch các vết dầu mỡ, bã nhờn

    Chế độ giặt riêng cho quần áo nhiều màu sắc

    Điều khiển bằng cảm ứng và bút vặn

    Tự vệ sinh và diệt khuẩn lồng giặt bằng nước nóng

    Chế độ giặt theo độ bẩn : 15 phút, 30 phút và 45 phút</p>
</div>
  </div>
</div>
